<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Where XML files will be saved for import -->
    <add key="destination" value="C:\temp"/>
    <!-- Location of your PHP installation -->
    <add key="phpExe" value="C:\PHP\php.exe"/>
    <!-- Location of your MediaWiki installation -->
    <add key="scriptFolder" value="C:\inetpub\wwwroot\mediawiki\maintenance"/>
  </appSettings>
  <connectionStrings>
    <!-- Point to your ScrewTurnWiki database -->
    <add name="wiki" connectionString="Data Source=##SERVER##;Initial Catalog=##DATABASE##;User ID=##USER##;Password=##PASSWORD##"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Import.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
